<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有动态</title>
    <th:block th:include="common/common_resource::resources"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <th:block th:include="common/header::nav"/>

    <div style="margin-top: 10px;position:absolute; height:80%; width: 100%;overflow:auto"
         class="layui-row layui-col-space5">
        <div class="layui-col-xs3">
            <div style="position:fixed;margin-top: 100px;text-align: center">
                <!--<img src="images/twad.jpg" width="75%"/>-->
            </div>
        </div>
        <div class="layui-col-xs6">
            <div th:each="twitter:${twitters}">
                <blockquote class="twitter layui-elem-quote layui-quote-nm">
                    <span class="twitter_id" style="display: none" th:text="${twitter.id}"></span>
                    <div>
                        <a th:href="'/toOtherUserInfo/'+${twitter.user.id}">
                            <img th:src="'/upLoad/head-pic/'+${twitter.user.headPic}" class="layui-nav-img"/>
                            <font style="color:#23ade5">
                                <th:block th:text="${twitter.user.username}"></th:block>
                            </font>
                        </a>
                    </div>
                    <div>
                        &#12288;&#12288;<span style="font-size: 10px;color: #C9C5C5" th:text="${twitter.creatData}">2017年11月5日</span>
                    </div>


                    <div id="feel" th:utext="${twitter.feeling}">
                    </div>

                    <br/>
                    <div class="image" th:each="image:${twitter.imagesList}">
                        <a href="javascript:;" style="float: left;margin-left: 15px" th:utext="${image}"></a>
                    </div>
                    <div style="width: 100%;clear:both ">
                        <br/>
                        <a href="javascript:;" class="reply">
                            <span style="float:left;width: 30%;">
                                <i class="layui-icon">&#xe611;</i>&nbsp;
                                <th:block th:text="${twitter.replyHit}"></th:block>
                            </span>
                        </a>
                        <a class="hit" href="javascript:;">
                            <span class="twitter-id" style="display: none" th:text="${twitter.id}"></span>
                            <span class="status" style="display: none">2</span>
                            <span style="float:right;width: 30%;text-align: center">
                                <i class="layui-icon">&#xe6c6;</i>&nbsp;
                                <span class="like" th:text="${twitter.likeHit}"></span>
                            </span>
                        </a>
                        <a class="hit" href="javascript:;">
                            <span class="twitter-id" style="display: none" th:text="${twitter.id}"></span>
                            <span class="status" style="display: none">1</span>
                            <span style="float:right;width: 30%;text-align: center">
                                <i class="layui-icon">&#xe6c5;</i>&nbsp;
                                <span class="dislike" th:text="${twitter.dislikeHit}"></span>
                            </span>
                        </a>
                    </div>

                    <div class="comment" style="clear: both;display: none">
                        <br/>
                        <ul class="user-comment">

                            <li th:each="comment:${twitter.comments}">
                                &#12288;&#12288;<img th:src="'upLoad/head-pic/'+${comment.user.headPic}"
                                                     class="layui-nav-img"/>
                                <font style="color:#23ade5">
                                    <th:block th:text="${comment.user.username}"></th:block>
                                </font>：
                                <th:block th:text="${comment.content}"></th:block>
                            </li>

                        </ul>
                        <br/>
                        <input type="text" name="title" lay-verify="title" autocomplete="off"
                               placeholder="快来评论吧~" class="message layui-input"/>
                        <div style="float: right">
                            <span class="twitter_id" style="display: none" th:text="${twitter.id}"></span>
                            <button class="comment-b e-button layui-btn layui-btn-small layui-btn-normal layui-btn-radius"
                                    value="Subscribe">评论
                            </button>
                        </div>
                    </div>
                    <br/>
                </blockquote>

            </div>
        </div>
        <div class="layui-col-xs3">
            <div style="position:fixed;">
                <div style="margin-left: 150px;position:fixed; bottom:14%; right:8%;">
                    <button id="publish" class="e-button layui-btn-normal layui-btn-radius layui-btn-lg">发表动态</button><br/>
                    <button id="my-twitter" class="e-button layui-btn-normal layui-btn-radius layui-btn-lg">我的动态
                    </button>
                </div>
            </div>
        </div>
    </div>
    <form id="form" action="/publishTwitter" method="post">
        <input style="display: none" type="text" id="userId" name="userId"/>
        <input style="display: none" type="text" id="feeling" name="feeling"/>
    </form>


</div>


</body>
<script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
<script>
    $(function () {
        // layer.load();
        $("#feel img").remove();
        $(".image img").each(function (i) {
            $(this).css("width", 150, "height", 150);
        });
    })
    layer.photos({
        photos: '.image'
        , anim: 0 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });
</script>
<script>
    var user_id = $("#user-id").text();
    var user_name = $("#session-name").text();
    // 评论
    $(".comment-b").click(function () {

        var twitterId = $(this).parent().find(".twitter_id").text();
        var comment = $(this).parent().parent().find(".message").val();
        console.log(comment);
        if ("" == user_id) {
            login();
            return;
        }
        var mmp = $(this)
        $.post("/comment", {"userId": user_id, "twitterId": twitterId, "content": comment}, function (result) {
            if (result.status == 0) {
                mmp.parent().parent().find(".message").val("");
                mmp.parent().parent().find(".user-comment").append('<li>' +
                    ' <font style="color:#23ade5">' + user_name +
                    ' </font>：' + comment +
                    ' </li>');
            }
        })
    })

    //    点赞
    $(".hit").click(function () {
        var twitter_id = $(this).find(".twitter-id").text();
        var status = $(this).find(".status").text();
        console.log("twitter_id:" + twitter_id);
        console.log("status:" + status);
        layer.load();
        if ("" == user_id) {
            login();
            layer.closeAll('loading');
            return;
        }
        var mmp = $(this);
        $.post("/hitIt", {"isLike": status, "userId": user_id, "twitterId": twitter_id}, function (result) {
            mmp.parent().find("a:last").find("span:last").text(result.data.dislikeHit);
            mmp.parent().find("a:eq(1)").find("span:last").text(result.data.likeHit);
            layer.closeAll('loading');
        })

    })


    var publish =
        '    <div style="width: 95%;margin: 0 auto;margin-top: 10px">' +
        '        <div id="editor">' +
        '        </div>' +
        '        <div style="float: right">' +
        '            <button id="publishTwitter" class="e-button layui-btn-normal layui-btn-radius layui-btn-lg">发表动态</button>' +
        '        </div>' +
        '    </div>';
    // 发布动态
    $("#publish").click(function () {
        if ("" == user_id) {
            login();
            return;
        }
        layer.open({
            title: '发布动态',
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['60%', '60%'], //宽高
            content: publish
        });
        var E = window.wangEditor
        var editor = new E('#editor')
        editor.customConfig.uploadImgServer = '/picUpload'  // 上传图片到服务器
        editor.customConfig.uploadFileName = 'file'
        editor.create()
        $("#publishTwitter").click(function () {
            $("#userId").val(user_id);
            $("#feeling").val(editor.txt.html());
            $("#form").submit();
        })
    })
    $("#my-twitter").click(function () {
        if ("" == user_id) {
            login();
            return;
        }
        window.location.href = "/toUserTwitter/" + user_id;
    })
    $(".reply").click(function () {
        $(this).parent().next().slideToggle("fast");
    })

</script>
</html>