<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有动态</title>
    <th:block th:include="common/common_resource::resources"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <th:block th:include="common/header::nav"/>

    <div style="margin-top: 10px;position:absolute; height:650px; width: 100%;overflow:auto"
         class="layui-row layui-col-space5">
        <div class="layui-col-xs3">
            <div style="position:fixed;margin-top: 100px;text-align: center">
                <img src="images/twad.jpg" width="75%"/>
            </div>
        </div>
        <div class="layui-col-xs6">
            <div th:each="twitter:${twitters}">
                <blockquote class="layui-elem-quote layui-quote-nm">
                    <span class="twitter_id" style="display: none" th:text="${twitter.id}"></span>
                    <div>
                        <img th:src="'upLoad/head-pic/'+${twitter.user.headPic}" class="layui-nav-img"/>
                        <font style="color:#23ade5"><th:block th:text="${twitter.user.username}"></th:block> </font>
                    </div>
                    <div>
                        &#12288;&#12288;<span style="font-size: 10px;color: #C9C5C5" th:text="${twitter.creatData}">2017年11月5日</span>
                    </div>
                    <div>
                        <span th:text="${twitter.feeling}"></span>
                    </div>
                    <br/>
                    <div>
                        <img src="images/test.png"/>
                    </div>
                    <br/>
                    <div style="width: 100%">
                        <a href="javascript:;"><span style="float:left;width: 30%;"><i class="layui-icon">&#xe611;</i>&nbsp;<th:block th:text="${twitter.replyHit}"></th:block></span></a>
                        <a href="javascript:;" th:onclick="'hit(2,'+${twitter.id}+')'"><span style="float:right;width: 30%;text-align: center"><i class="layui-icon">&#xe6c6;</i>&nbsp;<span id="like" th:text="${twitter.likeHit}"></span></span></a>
                        <a href="javascript:;" th:onclick="'hit(1,'+${twitter.id}+')'"><span style="float:right;width: 30%;text-align: center"><i class="layui-icon">&#xe6c5;</i>&nbsp;<span id="dislike" th:text="${twitter.dislikeHit}"></span></span></a>

                    </div>
                    <br/>
                </blockquote>

            </div>
        </div>
        <div class="layui-col-xs3">
            <div style="position:fixed;">
                <div>
                    <button class="e-button layui-btn-normal layui-btn-radius layui-btn-lg">发表动态</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
<script>
    function hit(status,twitter_id) {
        var user_id = $("#user-id").text();
        if(""==user_id){
            login();
            return;
        }
        $.post("/hitIt",{"isLike":status,"userId":user_id,"twitterId":twitter_id},function(result){
            $("#like").text(result.data.likeHit);
            $("#dislike").text(result.data.dislikeHit);
        })
    }
</script>
</html>