<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title th:text="${liveShow.personName}+'的直播间'"></title>
    <th:block th:include="common/common_resource::resources"/>
    <!--[if lte IE 7]>
    <script type="text/javascript" src="/yunba-2.1.2/examples/javascripts/json2.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/yunba-2.1.2/examples/javascripts/socket.io-1.3.5.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var subscribedTopics = window.subscribedTopics = [];
        var originEmit = io.Socket.prototype.emit;
        io.Socket.prototype.emit = function (ev, data) {
            if (ev == 'subscribe') {
                subscribedTopics.push(data.topic);
            }
            return originEmit.apply(this, arguments);
        }
        window.onbeforeunload = function (e) {
            try {
                var topic;
                for (var i = 0, length = subscribedTopics.length; i < length; i++) {
                    topic = subscribedTopics[i];
                    if (topic.substr(-2) === '/p') {
                        yunba.unsubscribe_presence({topic: topic.substr(0, topic.length - 2)});
                    } else {
                        yunba.unsubscribe({topic: topic});
                    }
                }
            } catch (e) {
            }
            var now = +new Date();
            while ((+new Date()) - now < 200) {
            }
            ;
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="/yunba-2.1.2/yunba-js-sdk.js"></script>
    <script type="text/javascript" src="/yunba-2.1.2/examples/javascripts/jquery-1.10.2.min.js"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <th:block th:include="common/header::body"/>
    <div class="layui-body" style="background-color: #e4e4e4 ">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-form">
                <blockquote class="layui-elem-quote layui-quote-nm">

                    <div style="float: left">
                        <input id="topic_pub" type="hidden" th:value="${liveShow.id}"/>
                        <h1 th:text="${liveShow.liveTitle}"></h1>
                        <br/>
                        <i class="ion-android-contact"></i>&nbsp;<span th:text="${liveShow.personName}"></span>&nbsp;&nbsp;
                        <i class="ion-fireball" style="color: #23ade5"></i>&nbsp;<span
                            th:text="${liveShow.showNum}"></span>
                    </div>
                    <div th:if="${session.user} != null">
                        <div id="my-follow" class="layui-input-block" title="关注" style="margin-left: 66%">
                            <input id="is-follow" type="checkbox" checked="" name="open" lay-skin="switch" lay-text="关注|已关"/>
                        </div>
                    </div>

                </blockquote>
            </div>
            <hr class="layui-bg-blue"/>
            <div th:if="${liveShow.status} == 1">
                <div class="room-video">
                    <embed width="100%" height="100%" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
                           th:src="${liveShow.liveUrl}"/>
                </div>
            </div>
            <div th:if="${liveShow.status} == 2">
                <div class="room-video">
                    <iframe frameborder="0" th:src="${liveShow.liveUrl}" style="width:100%;height:100%;"></iframe>
                </div>
            </div>
            <div class="chat-list">
                <div style="margin-top:30px;margin-left:15px;width:100%;height:85%;">
                    <div class="msg_list" style="Overflow-y:auto;line-height: 30px;height:90%;width: 95%">
                        <div id="msg_end" style="height:0px; overflow:hidden"></div>
                    </div>
                </div>
                <div class="send-emg" style="width:90%;height:15%;margin: 0 auto">
                    <div style="float: left;width: 80%">

                        <input id="message" type="text" name="title" lay-verify="title" autocomplete="off"
                               placeholder="和大家一起聊天吧~" class="layui-input"/>

                    </div>
                    <div style="float: left;width: 20%">
                        <button class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius" value="Subscribe"
                                onclick="mqtt_publish();">发送
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <th:block th:include="common/header::foot"/>
</div>
<script>

    $(function () {
        //判断是否关注
        var user_id = $("#user-id").text();
        var room_id = $("#topic_pub").val();
        $.post("/isMyFollow",{"userId":user_id,"roomId":room_id},function (data) {
            if(data.status==1){
                $("#is-follow").removeAttr("checked");
            }
        })



        var username = $("#user").text();
        console.log(username);
        if (username == "") {
            $(".myFollow").attr("href", "javascript:;");
            $(".myFollow").attr("onclick", "login()")
            $(".user-msg").html('<li class="layui-nav-item"><a href="javascript:;" onclick="login()"><font style="color:#23ade5">登录/注册</font></a></li>');
            $(".send-emg").html('<input id="message" type="text" name="title" lay-verify="title" readonly="readonly" autocomplete="off" placeholder="登录和大家一起聊天吧！" class="layui-input"/>');
        }
    })

</script>

<script>
    var user_id = $("#user-id").text();
    var room_id = $("#topic_pub").val();

    $("#my-follow").click(function () {
        console.log("关注成功"+user_id)
        console.log("关注成功"+room_id)
        $.post("/subFollow", {"userId": user_id, "roomId": room_id}, function () {
            console.log("关注成功")
        })
    });
</script>

<script>
    /* <![CDATA[ */
    var topic = $('#topic_pub').val();
    console.log("端口号：" + topic)
    var yunba = window.yunba = new Yunba({
        // 替换为您的 appkey
        appkey: '52fcc04c4dc903d66d6f8f92',
        server: 'http://sock.yunba.io',
        port: '3000'
    });
    //初始化
    yunba.init(function (success) {
        if (success) {
//            $('#msg').html('<div style="color:green">已连接上 socket</div>');
//            $('#msg').append('<div style="color:green">SocketId: ' + yunba.socket.id) + '</div>';
            mqtt_connect();
        }
    });

    //接收消息
    yunba.set_message_cb(function (data) {

        var $msg = $('<p />');
        $msg.html(data.msg);
        if (data.presence) {
            console.log(data.presence);
        }
        console.log("收到消息");
        $('.msg_list').append($msg);
        ($msg.prev() || $msg)[0].scrollIntoView();
    });

    function mqtt_connect() {
        yunba.connect(function (success, msg) {
            if (success) {
                //连接成功 订阅频道
                var topic = $('#topic_pub').val();
                console.log("频道" + topic);
                yunba.subscribe({'topic': topic}, function (success, msg) {
                    if (success) {
                        console.log("连接成功" + topic);
                        // $('#topic_list').append('<b data-topic="topic_id_' + topic + '">' + topic + '</b>');
                    } else {
                        alert(msg);
                    }
                });
            } else {
                alert(msg);
            }
        });
    }
    //发送消息
    function mqtt_publish() {
        var name = $("#session-name").text();
        console.log(name)
        var message = $('#message').val();
        message = '<font color="#23ade5">' + name + '</font>' + '：' + message;
        var topic = $('#topic_pub').val();
        yunba.publish({'topic': topic, 'msg': message}, function (success, msg) {
            if (success) {
                console.log(message);
            } else {
                alert(msg);
            }
        });
    }
    /* ]]> */
</script>

</body>
</html>