<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有动态</title>
    <th:block th:include="common/common_resource::resources"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <th:block th:include="common/header::nav"/>

    <div style="margin-top: 10px;position:absolute; height:600px; width: 100%;overflow:auto" class="layui-row layui-col-space5" >
        <div class="layui-col-xs3">
            <div style="position:fixed;text-align: center">
                广告区
            </div>
        </div>
        <div class="layui-col-xs6">
            <div >
                <blockquote class="layui-elem-quote layui-quote-nm">
                    <div>
                        <img src="images/testHead.jpg" class="layui-nav-img"/>
                        <font style="color:#23ade5">lethean </font>
                    </div>
                    <div>
                        &#12288;&#12288;<span style="font-size: 10px;color: #C9C5C5">2017年11月5日</span>
                    </div>
                    <div>
                        不戴金箍，如何救你；戴了金箍，如何爱你。
                    </div>
                    <br/>
                    <div>
                        <img src="images/test.png"/>
                    </div>
                    <br/>
                    <div style="width: 100%">
                        <a href="#" class="type-button layui-btn-normal"><span style="float:left;width: 30%;"><i class="layui-icon">&#xe611;</i>&nbsp;9</span></a>
                        <a href="#"><span style="float:right;width: 30%;text-align: center"><i class="layui-icon">&#xe6c6;</i>&nbsp;20</span></a>
                        <a href="#"><span style="float:right;width: 30%;text-align: center"><i class="layui-icon">&#xe6c5;</i>&nbsp;1</span></a>

                    </div>
                    <br/>
                </blockquote>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    <div>
                        <img src="images/testHead.jpg" class="layui-nav-img"/>
                        <font style="color:#23ade5">lethean </font>
                    </div>
                    <div>
                        &#12288;&#12288;<span style="font-size: 10px;color: #C9C5C5">2017年10月8日</span>
                    </div>
                    <div>
                        白晶晶爱的是孙悟空，爱白晶晶的是至尊宝，紫霞爱的是至尊宝，爱紫霞的是孙悟空，你以为是同一个人，其实已经相隔500年。
                    </div>
                    <br/>
                    <div>
                    </div>
                    <div style="width: 100%">
                        <a href="#" class="type-button layui-btn-normal"><span style="float:left;width: 30%;"><i class="layui-icon">&#xe611;</i>&nbsp;9</span></a>
                        <a href="#"><span style="float:right;width: 30%;text-align: center"><i class="layui-icon">&#xe6c6;</i>&nbsp;20</span></a>
                        <a href="#"><span style="float:right;width: 30%;text-align: center"><i class="layui-icon">&#xe6c5;</i>&nbsp;1</span></a>

                    </div>
                    <br/>
                </blockquote>
            </div>
        </div>
        <div class="layui-col-xs3">
            <div style="margin:0 auto;position:fixed;">
                待定区
            </div>
        </div>
    </div>

</div>

</body>
</html>