.show{
    width: 290px;
    height: 220px;
    background:white;
}
.layui-header li{
    font-size: 20px;
    color:#23ade5;
}
.layui-nav layui-nav-tree{
    text-align: center;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
    background-color: #23ade5;
}
.layui-form-onswitch{
    border-color: #23ade5;
    background-color: #23ade5;
}
.button{
    text-align: center;
    margin-top: 5px;

}
.e-button{
    background-color: #23ade5;
}
.type-button{
    background-color: #23ade5;
}
.room-video{
    width: 75%;
    height: 40vw;
    float: left
}
.chat-list{
    width: 20%;
    height: 40vw;
    float: left;
    background-color: white;
    margin-left: 20px
}
.js-game-list-item{
    margin-left: 20px;
    margin-top:20px;
    float: left;
    width: 175px;
    height: 270px;

}