.show{
    width: 280px;
    height: 220px;
    background:white;
}
.layui-header li{
    font-size: 20px;
    color:#23ade5;
}
.layui-nav layui-nav-tree{
    text-align: center;
}
.button{
    text-align: center;
    margin-top: 5px;
}
.room-video{
    width: 70%;
    height: 580px;
    float: left
}
.chat-list{
    width: 25%;
    height: 580px;
    float: left;
    background-color: white;
    margin-left: 20px
}
.js-game-list-item{
    margin-left: 20px;
    margin-top:20px;
    float: left;
    width: 180px;
    height: 290px;

}