.show{
    width: 280px;
    height: 220px;
    background:white;
}
.layui-header li{
    font-size: 20px;
    color:#23ade5;
}
.layui-nav layui-nav-tree{
    text-align: center;
}
.button{
    text-align: center;
    margin-top: 5px;
}