﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="css/layui.css" />
    <link rel="stylesheet" href="css/index.css" />
    <style>
        .site-doc-icon li {
            float: left;
            width: 280px;
            margin-top: 40px
        }

        .site-doc-icon li .layui-anim {
            width: 200px;
            height: 200px;
            line-height: 200px;
            margin: 0 auto 10px;
            text-align: center;
            background-color: #009688;
            cursor: pointer;
            color: #fff;
            border-radius: 50%;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-gray">
        <div class="layui-logo"><img src="test.png"/></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left ">
            <li class="layui-nav-item layui-font-black"><a href=""><font style="color:#3AE475">全部直播</font></a></li>
            <li class="layui-nav-item"><a href=""><font style="color:#3AE475">我的订阅</font></a></li>
            <li class="layui-nav-item"><a href=""><font style="color:#3AE475">用户</font></a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><font style="color:#3AE475">分类</font></a>
                <dl class="layui-nav-child">
                    <dd><a href=""><font style="color:#3AE475">英雄联盟</font></a></dd>
                    <dd><a href=""><font style="color:#3AE475">王者荣耀</font></a></dd>
                    <dd><a href=""><font style="color:#3AE475">绝地求生</font></a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/><font style="color:#3AE475">
                    贤心</font>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href=""><font style="color:#3AE475">基本资料</font></a></dd>
                    <dd><a href=""><font style="color:#3AE475">安全设置</font></a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""><font style="color:#3AE475">退了</font></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">全部直播</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">全部分类</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">主播排行</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">我的关注</a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">热门分类</a>
                    <dl class="layui-nav-child">
                        <dd style="text-align: center;margin-top: 10px">
                            <button class="layui-btn layui-btn-primary layui-btn-sm">小型按钮</button>
                            <button class="layui-btn layui-btn-primary layui-btn-sm">小型按钮</button>
                        </dd>
                        <dd style="text-align: center;margin-top: 10px">
                            英雄联盟
                        </dd>
                        <dd style="text-align: center;margin-top: 10px">
                            王者荣耀
                        </dd>
                        <dd style="text-align: center;margin-top: 10px">
                            炉石传说
                        </dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color: #e4e4e4 ">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">

            <h2><i class="layui-icon" style="color:#f60;font-size: 30px; ">&#xe6ed;</i>&nbsp;全部直播</h2>
            <hr class="layui-bg-orange"/>
            <ul class="site-doc-icon" style="margin-left:10px">
                <a href="#">
                    <li style="margin-right: 20px" >
                        <div class="show" >
                            <div style="position:relative;" id="fuck">
                                <img src="https://rpic.douyucdn.cn/alrpic/171221/787579_2100.jpg" height="180px" width="280px"/>
                                <div style="position:absolute;width:100px;height:100px;z-indent:2;left:110px;top:70px;">

                                    <i class="layui-icon" id="star" style="font-size:50px;color: white;display: none">&#xe652;</i>
                                </div>
                            </div>

                            <div>
                                <div style="float: left"><span>&nbsp;高高兴兴来玩</span></div>
                                <div style="float: right;color:#f60"><span>英雄联盟&nbsp;</span></div>
                            </div>
                            <div style="clear:both">
                                <div style="float: left"><span style="color: #C9C5C5">&nbsp;<i class="layui-icon">&#xe612;</i>马老师</span>
                                </div>
                                <div style="float:right"><i class="layui-icon" style="color: red"> &#xe756;</i>110万&nbsp;
                                </div>
                            </div>

                        </div>
                    </li>
                </a>
                <a href="#">
                    <li style="margin-right: 20px" >
                        <div class="show" >
                            <div style="position:relative;" id="fuck">
                                <img src="https://rpic.douyucdn.cn/alrpic/171221/787579_2100.jpg" height="180px" width="280px"/>
                                <div style="position:absolute;width:100px;height:100px;z-indent:2;left:110px;top:70px;">

                                    <i class="layui-icon" id="star" style="font-size:50px;color: white;display: none">&#xe652;</i>
                                </div>
                            </div>

                            <div>
                                <div style="float: left"><span>&nbsp;高高兴兴来玩</span></div>
                                <div style="float: right;color:#f60"><span>英雄联盟&nbsp;</span></div>
                            </div>
                            <div style="clear:both">
                                <div style="float: left"><span style="color: #C9C5C5">&nbsp;<i class="layui-icon">&#xe612;</i>马老师</span>
                                </div>
                                <div style="float:right"><i class="layui-icon" style="color: red"> &#xe756;</i>110万&nbsp;
                                </div>
                            </div>

                        </div>
                    </li>
                </a>
                <a href="#">
                    <li style="margin-right: 20px" >
                        <div class="show" >
                            <div style="position:relative;" id="fuck">
                                <img src="https://rpic.douyucdn.cn/alrpic/171221/787579_2100.jpg" height="180px" width="280px"/>
                                <div style="position:absolute;width:100px;height:100px;z-indent:2;left:110px;top:70px;">

                                    <i class="layui-icon" id="star" style="font-size:50px;color: white;display: none">&#xe652;</i>
                                </div>
                            </div>

                            <div>
                                <div style="float: left"><span>&nbsp;高高兴兴来玩</span></div>
                                <div style="float: right;color:#f60"><span>英雄联盟&nbsp;</span></div>
                            </div>
                            <div style="clear:both">
                                <div style="float: left"><span style="color: #C9C5C5">&nbsp;<i class="layui-icon">&#xe612;</i>马老师</span>
                                </div>
                                <div style="float:right"><i class="layui-icon" style="color: red"> &#xe756;</i>110万&nbsp;
                                </div>
                            </div>

                        </div>
                    </li>
                </a>
                <a href="#">
                    <li style="margin-right: 20px" >
                        <div class="show" >
                            <div style="position:relative;" id="fuck">
                                <img src="https://rpic.douyucdn.cn/alrpic/171221/787579_2100.jpg" height="180px" width="280px"/>
                                <div style="position:absolute;width:100px;height:100px;z-indent:2;left:110px;top:70px;">

                                    <i class="layui-icon" id="star" style="font-size:50px;color: white;display: none">&#xe652;</i>
                                </div>
                            </div>

                            <div>
                                <div style="float: left"><span>&nbsp;高高兴兴来玩</span></div>
                                <div style="float: right;color:#f60"><span>英雄联盟&nbsp;</span></div>
                            </div>
                            <div style="clear:both">
                                <div style="float: left"><span style="color: #C9C5C5">&nbsp;<i class="layui-icon">&#xe612;</i>马老师</span>
                                </div>
                                <div style="float:right"><i class="layui-icon" style="color: red"> &#xe756;</i>110万&nbsp;
                                </div>
                            </div>

                        </div>
                    </li>
                </a>
                <a href="#">
                    <li style="margin-right: 20px" >
                        <div class="show" >
                            <div style="position:relative;" id="fuck">
                                <img src="https://rpic.douyucdn.cn/alrpic/171221/787579_2100.jpg" height="180px" width="280px"/>
                                <div style="position:absolute;width:100px;height:100px;z-indent:2;left:110px;top:70px;">

                                    <i class="layui-icon" id="star" style="font-size:50px;color: white;display: none">&#xe652;</i>
                                </div>
                            </div>

                            <div>
                                <div style="float: left"><span>&nbsp;高高兴兴来玩</span></div>
                                <div style="float: right;color:#f60"><span>英雄联盟&nbsp;</span></div>
                            </div>
                            <div style="clear:both">
                                <div style="float: left"><span style="color: #C9C5C5">&nbsp;<i class="layui-icon">&#xe612;</i>马老师</span>
                                </div>
                                <div style="float:right"><i class="layui-icon" style="color: red"> &#xe756;</i>110万&nbsp;
                                </div>
                            </div>

                        </div>
                    </li>
                </a>





            </ul>


        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="layui.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });
</script>

<script>
    $("#fuck").mouseover(
        function(){
            $("#star").fadeIn("slow");
        }
    );
    $("#fuck").mouseleave(
        function(){
            $("#star").fadeOut("slow");
        }
    );


</script>
</body>
</html>