<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" th:href="${ctx}+'css/layui.css'"/>
    <link rel="stylesheet" th:href="${ctx}+'css/index.css'"/>
    <!--[if lte IE 7]>
    <script type="text/javascript" th:src="${ctx}+'yunba-2.1.2/examples/javascripts/json2.js'"></script>
    <![endif]-->
    <script type="text/javascript" th:src="${ctx}+'yunba-2.1.2/examples/javascripts/socket.io-1.3.5.min.js'"></script>
    <!--ioc图标库-->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
    <script type="text/javascript">
        // hack
        /* <![CDATA[ */
        var subscribedTopics = window.subscribedTopics = [];
        var originEmit = io.Socket.prototype.emit;
        io.Socket.prototype.emit = function (ev, data) {
            if (ev == 'subscribe') {
                subscribedTopics.push(data.topic);
            }
            return originEmit.apply(this, arguments);
        }
        window.onbeforeunload = function (e) {
            try {
                var topic;
                for (var i = 0, length = subscribedTopics.length; i < length; i++) {
                    topic = subscribedTopics[i];
                    if (topic.substr(-2) === '/p') {
                        yunba.unsubscribe_presence({topic: topic.substr(0, topic.length - 2)});
                    } else {
                        yunba.unsubscribe({topic: topic});
                    }
                }
            } catch (e) {
            }
            var now = +new Date();
            while ((+new Date()) - now < 200) {
            }
            ;
        };
        /* ]]> */
    </script>
    <script type="text/javascript" th:src="${ctx}+'yunba-2.1.2/yunba-js-sdk.js'"></script>
    <script type="text/javascript" th:src="${ctx}+'yunba-2.1.2/examples/javascripts/jquery-1.10.2.min.js'"></script>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-gray">
        <div class="layui-logo"><img th:src="${ctx}+'images/logo.svg'" style="float: left;margin-left: 0px"/></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left ">
            <li class="layui-nav-item layui-font-black"><a href=""><font style="color:#23ade5">全部直播</font></a></li>
            <li class="layui-nav-item"><a href=""><font style="color:#23ade5">我的订阅</font></a></li>
            <li class="layui-nav-item"><a href=""><font style="color:#23ade5">用户</font></a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><font style="color:#23ade5">分类</font></a>
                <dl class="layui-nav-child">
                    <dd><a href=""><font style="color:#23ade5">英雄联盟</font></a></dd>
                    <dd><a href=""><font style="color:#23ade5">王者荣耀</font></a></dd>
                    <dd><a href=""><font style="color:#23ade5">绝地求生</font></a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/><font style="color:#23ade5">
                    贤心</font>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href=""><font style="color:#23ade5">基本资料</font></a></dd>
                    <dd><a href=""><font style="color:#23ade5">安全设置</font></a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href=""><font style="color:#23ade5">退了</font></a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/index">
                        <i class="ion-ios-videocam" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;全部直播
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/toLiveType">
                        <i class="ion-social-windows" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;全部分类
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="ion-trophy" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;主播排行
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="ion-ios-heart" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;我的关注
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="ion-ios-flame" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;热门分类
                    </a>
                    <dl class="cateType layui-nav-child">

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">单机游戏</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">手机游戏</a></li>
                <li class="layui-nav-item"><a href="">主机游戏</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color: #e4e4e4 ">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote layui-quote-nm">

                <input id="topic_pub" type="hidden" th:value="${liveShow.id}"/>
                <h1 th:text="${liveShow.liveTitle}"><i class="ion-social-youtube"
                                                       style="color:#23ade5;font-size: 30px; "></i>&nbsp;直播详情</h1>
                <i class="ion-android-contact"></i>&nbsp;<span th:text="${liveShow.personName}"></span>&nbsp;&nbsp;
                <i class="ion-fireball" style="color: #23ade5"></i>&nbsp;<span th:text="${liveShow.showNum}"></span>
            </blockquote>
            <hr class="layui-bg-blue"/>
            <div class="room-video">
                <embed width="100%" height="100%" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
                       th:src="${liveShow.liveUrl}"/>
            </div>
            <div class="chat-list">
                <div style="margin-top:30px;margin-left:15px;width:100%;height:85%;">
                    <div id="msg_list" style="Overflow-y:auto;line-height: 30px;height:90%;width: 95%">
                        <div id="msg_end" style="height:0px; overflow:hidden"></div>
                    </div>
                </div>
                <div style="width:90%;height:15%;margin: 0 auto">
                    <div style="float: left;width: 80%">

                        <input id="message" type="text" name="title" lay-verify="title" autocomplete="off"
                               placeholder="和大家一起聊天吧~" class="layui-input"/>

                    </div>
                    <div style="float: left;width: 20%">
                        <button class="layui-btn layui-btn-small layui-btn-normal layui-btn-radius" value="Subscribe"
                                onclick="mqtt_publish();">发送
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © lethean.top - 聚合直播
    </div>
</div>
<script th:src="${ctx}+'layui.js'"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    $(function () {
        $.post("/toCateType", function (data) {
            //在for循环语句前后添加/* <![CDATA[ */ 和 /* ]]> */避免与Thymeleaf冲突
            /* <![CDATA[ */
            for (var i = 0; i < data.length; i = i + 2) {
                $(".cateType").append('<dd class="button" style="background-color:transparent;">' +
                    ' <button class="layui-btn-sm layui-btn-normal layui-btn-radius">' + data[i].typeName + '</button>' +
                    ' <button class="layui-btn-sm layui-btn-normal layui-btn-radius">' + data[i + 1].typeName + '</button>' +
                    '</dd>'
                )
            }
            /* ]]> */
        })
    })

</script>
<script>
    /* <![CDATA[ */
    var topic = $('#topic_pub').val();
    console.log("端口号：" + topic)
    var yunba = window.yunba = new Yunba({
        // 替换为您的 appkey
        appkey: '52fcc04c4dc903d66d6f8f92',
        server: 'http://sock.yunba.io',
        port: '3000'
    });
    //初始化
    yunba.init(function (success) {
        if (success) {
//            $('#msg').html('<div style="color:green">已连接上 socket</div>');
//            $('#msg').append('<div style="color:green">SocketId: ' + yunba.socket.id) + '</div>';
            mqtt_connect();
        }
    });

    //接收消息
    yunba.set_message_cb(function (data) {
        var $msg = $('<p />');
        $msg.html('<font color="#23ade5">频道' + data.topic + '</font>' + '：' + data.msg);
        if (data.presence) {
            console.log(data.presence);
        }
        $('#msg_list').append($msg);
        ($msg.prev() || $msg)[0].scrollIntoView();
    });

    function mqtt_connect() {
        yunba.connect(function (success, msg) {
            if (success) {
                //连接成功 订阅频道
                var topic = $('#topic_pub').val();
                console.log("频道" + topic);
                yunba.subscribe({'topic': topic}, function (success, msg) {
                    if (success) {
                        console.log("连接成功" + topic);
                        // $('#topic_list').append('<b data-topic="topic_id_' + topic + '">' + topic + '</b>');
                    } else {
                        alert(msg);
                    }
                });
            } else {
                alert(msg);
            }
        });
    }
    //发送消息
    function mqtt_publish() {
        var message = $('#message').val();
        var topic = $('#topic_pub').val();
        yunba.publish({'topic': topic, 'msg': message}, function (success, msg) {
            if (success) {
                console.log(message);
            } else {
                alert(msg);
            }
        });
    }
    /* ]]> */
</script>

</body>
</html>