<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>所有分类</title>
    <link rel="stylesheet" th:href="${ctx}+'css/layui.css'" />
    <link rel="stylesheet" th:href="${ctx}+'css/index.css'"/>
    <!--ioc图标库-->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-gray">
        <div class="layui-logo"><a href="/toLiveList"><img th:src="${ctx}+'images/logo.svg'" style="float: left;margin-left: 0px"/></a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left ">
            <li class="layui-nav-item layui-font-black"><a href="/toLiveList"><font style="color:#23ade5">全部直播</font></a></li>
            <li class="layui-nav-item"><a href=""><font style="color:#23ade5">我的订阅</font></a></li>
            <li class="layui-nav-item"><a href=""><font style="color:#23ade5">用户</font></a></li>
            <li class="layui-nav-item">
                <a href="/toLiveType"><font style="color:#23ade5">分类</font></a>
                <dl class="layui-nav-child">
                    <dd><a href=""><font style="color:#23ade5">英雄联盟</font></a></dd>
                    <dd><a href=""><font style="color:#23ade5">王者荣耀</font></a></dd>
                    <dd><a href=""><font style="color:#23ade5">绝地求生</font></a></dd>
                </dl>
            </li>
        </ul>
        <span id="user" style="display: none" th:text="${session.user}"></span>
        <ul class="user-msg layui-nav layui-layout-right">
            <div th:if="${session.user} != null">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/><font style="color:#23ade5">
                        <span th:text="${session.user.username}">贤心</span></font>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href=""><font style="color:#23ade5">基本资料</font></a></dd>
                        <dd><a href=""><font style="color:#23ade5">安全设置</font></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/logout"><font style="color:#23ade5">登出</font></a></li>
            </div>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/toLiveList">
                        <i class="ion-ios-videocam" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;全部直播
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/toLiveType">
                        <i class="ion-social-windows" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;全部分类
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="ion-trophy" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;主播排行
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="myFollow" href="/myFollow">
                        <i class="ion-ios-heart" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;我的关注
                    </a>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i class="ion-ios-flame" style="color: #23ade5;font-size: 15px;"/>
                        &nbsp;热门分类
                    </a>
                    <dl class="cateType layui-nav-child">

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">单机游戏</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">手机游戏</a></li>
                <li class="layui-nav-item"><a href="">主机游戏</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="background-color: #e4e4e4 ">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h1><i class="ion-social-windows" style="color: #23ade5;font-size: 25px;"/>
                &nbsp;全部分类</h1>
            <hr class="layui-bg-blue"/>
            <ul class="site-doc-icon" style="margin-left:10px" th:each="type:${liveTypes}">
                <a th:href="'/toLiveList/?type='+${type.typeName}">
                    <li class="js-game-list-item" style="">
                        <div style="width: 100%;height: 85%">
                            <img width="100%" height="100%" th:src="${type.typePic}"/>
                        </div>
                        <div style="width: 100%;height: 15%;background-color:white;text-align: center">
                            <span th:text="${type.typeName}"></span>
                        </div>
                    </li>
                </a>
            </ul>

        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © lethean.top - 聚合直播
    </div>
</div>
<script th:src="${ctx}+'layui.js'"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;

    });

    layui.use('layer', function () {
        var layer = layui.layer;
    });
    /* <![CDATA[ */
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(login)', function (data) {
            var phone = $("#loginun").val();
            var password = $("#loginpw").val();
            $.post("/login",{"phone":phone,"password":password},function(result){

                if(result.status==1){
                    layer.msg(result.message);
                    window.location.href = "/toLiveList";
                }else if(result.status==0){
                    layer.tips(result.message, '#loginun');
                }else if(result.status==-1){
                    layer.tips(result.message, '#loginpw');
                }

            })

            return false;
        });

        form.on('submit(register)', function (data) {

            var phone = $("#phone").val();
            var username = $("#username").val();
            var email = $("#email").val();
            var password = $("#password").val();

//            var json = JSON.stringify(data.field);
            console.log(username);
            $.post("/register", {
                "username": username,
                "phone": phone,
                "email": email,
                "password": password
            }, function (result) {

                layer.msg(result.message);
                window.location.href = "/toLiveList";

            })
//            layer.alert(JSON.stringify(data.field), {
//                title: '最终的提交信息'
//            })
            return false;
        });
    });
    /* ]]> */

    $(function () {
        $.post("/toCateType", function (data) {
            //在for循环语句前后添加/* <![CDATA[ */ 和 /* ]]> */避免与Thymeleaf冲突
            /* <![CDATA[ */
            for (var i = 0; i < data.length; i = i + 2) {
                $(".cateType").append('<dd class="button" style="background-color:transparent;">' +
                    ' <button class="type-button layui-btn-sm layui-btn-normal layui-btn-radius">' + data[i].typeName + '</button>' +
                    ' <button class="type-button layui-btn-sm layui-btn-normal layui-btn-radius">' + data[i + 1].typeName + '</button>' +
                    '</dd>'
                )
            }
            /* ]]> */

            $(".type-button").click(function () {
                var type = $(this).html();
                var para = {"type": type};
                window.location.href="/toLiveList?type="+type;
            })
        })

        var username = $("#user").text();
        console.log(username);
        if (username == "") {
            $(".myFollow").attr("href", "javascript:;");
            $(".myFollow").attr("onclick", "login()")
            $(".user-msg").html('<li class="layui-nav-item"><a href="javascript:;" onclick="login()"><font style="color:#23ade5">登录/注册</font></a></li>');
        }
    })

    function login() {
        var login = '<form class="layui-form layui-form-pane" style="text-align:center" action="">' +
            ' <div class="layui-form-item" style="margin-top: 80px">' +
            ' <div class="layui-inline">' +
            ' <label class="layui-form-label">手机号码</label>' +
            ' <div class="layui-input-inline">' +
            ' <input id="loginun" type="tel" name="phone" placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off" class="layui-input"/>' +
            ' </div>' +
            ' </div>' +
            ' </div>' +
//            ' <div class="layui-form-item">'+
//            ' <div class="layui-inline">'+
//            ' <label class="layui-form-label">验证邮箱</label>'+
//            ' <div class="layui-input-inline">'+
//            ' <input type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input"/>'+
//            ' </div>'+
//            ' </div>'+
//            ' </div>'+
            ' <div class="layui-form-item">' +
            ' <div class="layui-inline">' +
            ' <label class="layui-form-label">密码</label>' +
            ' <div class="layui-input-inline">' +
            ' <input id="loginpw" type="password" name="password" lay-verify="pass" placeholder="密码" autocomplete="off" class="layui-input"/>' +
            ' </div>' +
            ' </div>' +
            ' </div>' +

            ' <div class="layui-form-item">' +
            ' <div class="layui-input-block">' +
            ' <button id="loginbt" class="layui-btn layui-btn-normal layui-btn-radius" style="background-color: #23ade5" lay-submit="" lay-filter="login">登录</button>' +
            ' <button type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</button>' +
            ' </div>' +
            ' </div>' +
            ' </form>';
        var register = '<form class="layui-form layui-form-pane" style="text-align:center" action="">' +
            ' <div class="layui-form-item" style="margin-top: 20px">' +
            ' <div class="layui-inline">' +
            ' <label class="layui-form-label">手机号码</label>' +
            ' <div class="layui-input-inline">' +
            ' <input id="phone" type="tel" name="phone" placeholder="请输入手机号" lay-verify="required|phone" autocomplete="off" class="layui-input"/>' +
            ' </div>' +
            ' </div>' +
            ' </div>' +
            '<div class="layui-form-item">' +
            ' <div class="layui-inline">' +
            ' <label class="layui-form-label">昵称</label>' +
            ' <div class="layui-input-inline">' +
            ' <input id="username" type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"/>' +
            ' </div>' +
            ' </div>' +
            ' </div>' +
            ' <div class="layui-form-item">' +
            ' <div class="layui-inline">' +
            ' <label class="layui-form-label">邮箱</label>' +
            ' <div class="layui-input-inline">' +
            ' <input id="email" type="text" name="email" lay-verify="email" placeholder="请输入邮箱" autocomplete="off" class="layui-input"/>' +
            ' </div>' +
            ' </div>' +
            ' </div>' +
            ' <div class="layui-form-item">' +
            ' <div class="layui-inline">' +
            ' <label class="layui-form-label">密码</label>' +
            ' <div class="layui-input-inline">' +
            ' <input id="password" type="password" name="password" lay-verify="pass" placeholder="请填写6到12位密码" autocomplete="off" class="layui-input"/>' +
            ' </div>' +
            ' </div>' +
//            ' <div class="layui-form-mid layui-word-aux">请填写6</div>'+
            ' </div>' +
//            ' <div class="layui-form-item">'+
//            ' <label class="layui-form-label">单选框</label>'+
//            ' <div class="layui-input-block">'+
//            ' <input type="radio" name="sex" value="男" title="男" checked=""/>'+
//            ' <input type="radio" name="sex" value="女" title="女"/>'+
//            ' <input type="radio" name="sex" value="禁" title="禁用" disabled=""/>'+
//            ' </div>'+
//            ' </div>'+
            ' <div class="layui-form-item">' +
            ' <div class="layui-input-block">' +
            ' <button class="layui-btn layui-btn-normal layui-btn-radius" style="background-color: #23ade5" lay-submit="" lay-filter="register">注册</button>' +
            ' <button type="reset" class="layui-btn layui-btn-primary layui-btn-radius">重置</button>' +
            ' </div>' +
            ' </div>' +
            ' </form>';
        layer.tab({
            area: ['400px', '350px'],
            tab: [{
                title: '登录',
                content: login
            }, {
                title: '注册',
                content: register
            }]
        });
        //确认昵称输入事件

        $('#username').bind(' input propertychange ', function () {

            var username = $("#username").val();
            console.log(username);
            $.post("/check", {"username": username}, function (result) {
                layer.tips(result.message, '#username');

            })

        });
    }
</script>


</body>
</html>