<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>所有分类</title>
    <th:block th:include="common/common_resource::resources"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <th:block th:include="common/header::body"/>

    <div class="layui-body" style="background-color: #e4e4e4 ">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <h1><i class="ion-social-windows" style="color: #23ade5;font-size: 25px;"/>
                &nbsp;全部分类</h1>
            <hr class="layui-bg-blue"/>
            <ul class="site-doc-icon" style="margin-left:10px" th:each="type:${liveTypes}">
                <a th:href="'/toLiveList/?type='+${type.typeName}">
                    <li class="js-game-list-item" style="">
                        <div style="width: 100%;height: 85%">
                            <img width="100%" height="100%" th:src="${type.typePic}"/>
                        </div>
                        <div style="width: 100%;height: 15%;background-color:white;text-align: center">
                            <span th:text="${type.typeName}"></span>
                        </div>
                    </li>
                </a>
            </ul>

        </div>
    </div>

    <th:block th:include="common/header::foot"/>
</div>

</body>
</html>